In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [93]:
filepath = '/Users/dsarkar/Documents/Abhi/my_projects/NAMD-EnTK/Peter_Wolynes_special_edition/MDFF-EnTK/experiments/summit/simple_mdff_vds_8_replicas_1.8angstrom_20iter_5k_numsteps/'
#replica = 'simple-mdff-replica-0/'
common_str = '.Calculating_the_cross-correlation_coefficient/cc.dat'
master = []
for rep in range (0,8):
    replica = 'simple-mdff-replica-'+ str(rep) + '/'
    for iter in range(0,20):
        current_file = filepath + replica + str(iter) + common_str
        #print(current_file)
        if iter == 0:
            df = pd.read_csv(current_file,delimiter=' ',header=None)
            df['iteration'] = iter
            df['replica'] = rep
        else:
            df = pd.read_csv(current_file,delimiter=' ',header=None)
            df['iteration'] = iter
            df['replica'] = rep
#             df = df.append(dftemp)
        master.append(df)
df = pd.concat(master)
            
# df.columns = ['First CCC', 'Last CCC', 'Iteration_index', 'Replica_index']

In [94]:
df

   First CCC  Last CCC  Iteration_index  Replica_index
0   0.387576  0.477740                0              7
0   0.516694  0.519249                1              7
0   0.509010  0.546428                2              7
0   0.543526  0.568193                3              7
0   0.569115  0.576601                4              7
0   0.576433  0.584593                5              7
0   0.587554  0.596892                6              7
0   0.629653  0.629306                7              7
0   0.620254  0.634200                8              7
0   0.649548  0.653946                9              7
0   0.654019  0.655753               10              7
0   0.655076  0.649164               11              7
0   0.651066  0.656598               12              7
0   0.678853  0.679121               13              7
0   0.629981  0.631723               14              7
0   0.634104  0.630330               15              7
0   0.615048  0.609307               16              7
0   0.677518  0.679304               17              7
0   0.651865  0.649435               18              7
0   0.654407  0.652720               19              7

In [33]:
df.append(df)

          0         1
0  0.676403  0.680675
0  0.676403  0.680675